.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body-margin{
  margin-top: 60px;
}

.product-info p, img{
  text-align: left;
  margin: 1px;
  padding-left: 25px;
  padding-right: 25px;
}


.product-name{
  color: #333333;
}


/* Stock Check Colours */
.zeroStock{
  color: #3a2a2f;
}
.onlyOneStock{
  color:crimson;
}
.moreStocks{
  color:forestgreen;
}

.stock::before {
  content: "•";
}

/* Jumbotron */
.main-bg{
  height:500px;
  background-image: url("./img/jb-twilight-struggle2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;  
}

.card-newArrivals{

  margin: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
